[retrieval]
period = {{ config.retrieval.period }}

[cookiejar]
url = {{ config.couchdb.url }}
database = cookie-monster
cacert = /certs/cacert.pem

max_requests_per_second = {{ config.cookiejar.max_requests_per_second }}
buffer_capacity = {{ config.cookiejar.buffer_capacity }}
buffer_latency = {{ config.cookiejar.buffer_latency}}

[processing]
max_threads = {{ config.processing.max_threads }}
rules = /home/cmonster/hgi-cookie-monster/hgicookiemonster/rules
notification_receivers = /home/cmonster/hgi-cookie-monster/hgicookiemonster/notification_receivers
enrichment_loaders = /home/cmonster/hgi-cookie-monster/hgicookiemonster/enrichment_loaders

[baton]
bin = /usr/local/bin
zone = {{ config.baton.zone }}

[api]
port = 5000

[influxdb]
host = {{ config.influxdb.host }}
port = {{ config.influxdb.port }}
username = {{ config.influxdb.username }}
password = {{ config.influxdb.password }}
database = {{ config.influxdb.database }}
buffer_latency = {{ config.influxdb.buffer_latency }}

[output]
rule_log = {{ config.output.rule_log }}

# This isn't currently used, but needs to
# exist to avoid upsetting the parser
[message_queue]
host = foo
part = 123
username = bar
password = quux
