-----BEGIN CERTIFICATE-----
MIICzDCCAbSgAwIBAgIRAKOqpG6Mfadx2k1IZA6yYWIwDQYJKoZIhvcNAQELBQAw
DzENMAsGA1UEChMEcm9vdDAeFw0xNzAzMDkxNDMyMDBaFw0yMDAyMjIxNDMyMDBa
MA8xDTALBgNVBAoTBHJvb3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDmIVtzntMDAEEn4RySanBFreJ99isjzpB5v46u2sOalPeejs2HLIEFxXY5B7sd
yqtN3mqVu621yEx/FjN5mCxIjFTeCJq/bLfFUKZmjCkHkhQVj55O9XiJ5ZYR6fNa
eesdKTcrfZAEiXOtvNbm/BcNGlHxHejQ/lUxW5AoIPMVHy13Va9GwM6Q2nDgU83P
QAf9QmdasYY8X6cUbRHxlOS4/JvhuxmXqLTbznunODGxmby7UAMTyUvgLM4BtNCE
8bAauelok/OcqHVvWkFWxZjzElXT388FNm0K4lr3SXQ2Mrsa1NedE6K4GnGK3mbT
/UPfkVclRocynMXiNGUsFGm1AgMBAAGjIzAhMA4GA1UdDwEB/wQEAwICrDAPBgNV
HRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQC8F7lLSgJJ1DxCmliUB5vu
FNeRQesStRq9EuTGxLoyZyq9IMIcTaXySkBnt2A2nTtcwZskGzg8edMIDZQ3qW4A
ABgOGu67hIchOvkkhppREABb38xBWIH0qQm05cZVyfr9FcmVdaS2XpK6cq2pJD0B
9OZiozNLQ9np/vADnBBGt+N5TijKOLundsECuArDxikAX/yh7qbEvub5d8ywM7nS
iazwsZd+mzPBcBMV+xUDd1pJFFi03MqfKaYcX/bxSKF0StK6vxoNpx4hGQQgYlpL
lHpLj7+ycEIZe/aH5fmWuaVr74ybzMgOAKdbG3hTNfqNC/CaldE6zNca1av55ZRq
-----END CERTIFICATE-----
