-----BEGIN CERTIFICATE-----
MIIC6jCCAdKgAwIBAgIRAMz+8g3l0z3sUoHddIMy4DswDQYJKoZIhvcNAQELBQAw
DzENMAsGA1UEChMEcm9vdDAeFw0xNzAzMDkxNDMyMDBaFw0yMDAyMjIxNDMyMDBa
MBsxGTAXBgNVBAoMEHJvb3QuPGJvb3RzdHJhcD4wggEiMA0GCSqGSIb3DQEBAQUA
A4IBDwAwggEKAoIBAQDLJhDeCMrNiQF+3rAh1VE1HU+zNCJaCdhw2aCpg5qaYCNi
1f6dr0vrHCHUu/SEou0H/hLdxHHy/iZj7Oneh3w1iU2rDzt1bZ+LoWQI1QxE89qa
qtnkYpvLUT815XPSCmh4W0HSaPQcKgCmOIkKiarNc7ktqqrEYmfQ994/9t/+DR1e
EZa/uvyOFiWy5np/zedvLa5jEE8coYVQS8IchrLTtnMNzb2CX40nDvS4dzZW06u6
ChdQlqcbwXYaxH4Pods687VoiTcBe1hYTUo9+va/LeE0/vVpoE+St6s3TzMrsV+d
zcgmfDtkGaF3ZZV/WNFqjuym9cKP9EO+XlLWFnjbAgMBAAGjNTAzMA4GA1UdDwEB
/wQEAwIHgDATBgNVHSUEDDAKBggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMA0GCSqG
SIb3DQEBCwUAA4IBAQAlQvIKQr0QcYdLmgVdI2LPtoKCTsHy0295fRLsQUB7eT66
MdbvS+bpiL3ifyec7rFak8idQ+O6UlZQ4MuXzsTkZLinmHpAZ3T2ZtXJWsh0CON7
NvjAYD7S/TDCx/Te1n1xNrAvPoZYAuMfGt4lHleNxuzpLfyx1P7PMfWtrbAhp91m
ccNQCS23w+12kyHmDsmPW1acw9W9Dv2eP0suh8apXFUAwYwYcpE/8hcJV5G+ZJIq
4x/nae2RxVZ97EkDRpBS9atuEdTWCjxXrShwKHQkHryqEVcNbmkRfPF7t6JHQGFM
Ba1dbW1oXYJYfNXX61xoHxf7o37LwHlkM9itVJwM
-----END CERTIFICATE-----
