server {
  listen 0.0.0.0:{{ arvados_api_backend_api_backend_port }} backlog={{ arvados_api_backend_sysctl_somaxconn }};
  server_name localhost-api;

  root /var/www/arvados-api/current/public;
  index  index.html index.htm index.php;

  passenger_enabled on;
  passenger_user www-data;
  passenger_env_var RAILS_ENV production;

  # This value effectively limits the size of API objects users can
  # create, especially collections.  If you change this, you should
  # also ensure the following settings match it:
  # * `client_max_body_size` in the server section below
  # * `client_max_body_size` in the Workbench Nginx configuration (twice)
  # * `max_request_size` in the API server's application.yml file
  client_max_body_size {{ arvados_cluster_max_body_size_m }}m;

  access_log /var/log/nginx/arvados-api-backend-access.log netdata;
  error_log /var/log/nginx/arvados-api-backend-error.log;
}

