{
  "service": {
    "name": "arvados-api-backend",
    "tags": ["{{ arvados_api_backend_cluster_id }}"],
    "port": {{ arvados_api_backend_api_backend_port }},
    "checks": [
      {
        "http": "http://localhost:{{ arvados_api_backend_api_backend_port }}/discovery/v1/apis/arvados/v1/rest",
        "interval": "60s"
      }
    ]
  }
}
