
include CurrentApiClient
wb = ApiClient.find_by_name("workbench") || ApiClient.new(:name => "workbench")
wb.url_prefix = "https://{{ arvados_cluster_workbench_host }}/"
wb.is_trusted = true
act_as_system_user do wb.save! end

