Client:
  APIHost: "{{ arvados_cluster_api_host }}:443"
  Insecure: false
GitCommand: "{{ arvados_api_backend_git_home }}/gitolite/src/gitolite-shell"
GitoliteHome: "{{ arvados_api_backend_git_home }}"
Listen: ":{{ arvados_api_backend_git_httpd_backend_port }}"
RepoRoot: "{{ arvados_api_backend_git_repositories_dir }}"
