#!/bin/sh
set -e

export ARVADOS_API_HOST={{ arvados_cluster_api_host }}
export CRUNCH_DISPATCH_LOCKFILE=/var/lock/crunch-dispatch-pipelines
export HOME=$(pwd)
export RAILS_ENV=production

## Uncomment and edit this line if your compute nodes have cgroup info
## somewhere other than /sys/fs/cgroup (e.g., "/cgroup" for CentOS 7)
#export CRUNCH_CGROUP_ROOT="/sys/fs/cgroup"

# This is the path to docker on your compute nodes. You might need to
# change it to "docker", "/opt/bin/docker", etc.
export CRUNCH_JOB_DOCKER_BIN=docker

fuser -TERM -k $CRUNCH_DISPATCH_LOCKFILE || true
cd /var/www/arvados-api/current
exec bundle exec ./script/crunch-dispatch.rb --pipelines 2>&1
