[Unit]
Description=Aptly REST API service

[Service]
TimeoutStartSec=0
# Note: `-no-lock` implies locking only upon operation: http://disq.us/p/1jhuw42
ExecStart=/bin/bash -c 'aptly api serve -no-lock -listen="unix:///var/run/aptly.sock"'

[Install]
WantedBy=multi-user.target
