{
    "rootDir": "{{ aptly_data_directory_location }}",
    "downloadConcurrency": 4,
    "downloadSpeedLimit": 0,
    "architectures": [],
    "dependencyFollowSuggests": false,
    "dependencyFollowRecommends": false,
    "dependencyFollowAllVariants": false,
    "dependencyFollowSource": false,
    "dependencyVerboseResolve": false,
    "gpgDisableSign": true,
    "gpgDisableVerify": true,
    "gpgProvider": "gpg",
    "downloadSourcePackages": false,
    "skipLegacyPool": true,
    "ppaDistributorID": "ubuntu",
    "ppaCodename": "",
    "skipContentsPublishing": false,
    "FileSystemPublishEndpoints": {
        "public": {
            "rootDir": "{{ aptly_publish_location }}",
            "linkMethod": "symlink"
        }
    },
    "S3PublishEndpoints": {},
    "SwiftPublishEndpoints": {}
}
