server {
{% if not aptly_api_ssl_enabled %}
  listen       0.0.0.0:80;
{% else %}
  listen       0.0.0.0:443 ssl;

  ssl on;
  ssl_certificate     {{ aptly_api_ssl_cert_file }};
  ssl_certificate_key {{ aptly_api_ssl_key_file }};
{% endif %}

  location / {
    proxy_pass              http://unix:/var/run/aptly.sock;

    auth_basic              "Aptly API";
    auth_basic_user_file    "{{ aptly_api_password_file_location }}";
  }
}
