# Copyright (c) 2017 Genome Research Ltd.
#
# Authors:
# * Joshua C. Randall <jcrandall@alum.mit.edu>
#
# This file is part of hgi-systems.
#
# hgi-systems is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 3 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see <http://www.gnu.org/licenses/>.
#
---
# file: group_vars/arvados-cluster-ncucu/vars

# vault contents:
# arvados_cluster_sso_google_oauth_client_id
# arvados_cluster_sso_google_oauth_client_secret
# arvados_cluster_git_ssh_private_key
# arvados_cluster_mercury_shell_ssh_private_key

arvados_cluster_root_key: "{{ arvados_cluster_git_ssh_private_key }}"

# generate credentials from the root key
arvados_cluster_db_password_sso: "{{ arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_db_password_sso', 16) | b36encode }}"
arvados_cluster_db_password_api: "{{ arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_db_password_api', 16) | b36encode }}"

arvados_cluster_sso_app_secret: "{{ arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_sso_app_secret', 50) | b36encode }}"
arvados_cluster_api_secret_token: "{{ arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_api_secret_token', 50) | b36encode }}"
arvados_cluster_workbench_secret_token: "{{ arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_workbench_secret_token', 50) | b36encode }}"
arvados_cluster_GROUP_blob_signing_key: "{{ arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_blob_signing_key', 50) | b36encode }}"
arvados_cluster_GROUP_blog_signature_ttl_s: 1209600

arvados_cluster_superuser_api_token: "{{  arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_superuser_api_token', 32) | b36encode }}"
arvados_cluster_anonymous_api_token: "{{  arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_anonymous_api_token', 32) | b36encode }}"
arvados_cluster_crunch_dispatcher_api_token: "{{  arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_crunch_dispatcher_api_token', 32) | b36encode }}"
arvados_cluster_GROUP_data_manager_api_token: "{{  arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_data_manager_api_token', 32) | b36encode }}"
arvados_cluster_login_sync_api_token: "{{  arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_login_sync_api_token', 32) | b36encode }}"

arvados_cluster_munge_key_base64: "{{  arvados_cluster_root_key | pbkdf2_hmac('arvados_cluster_munge_key_base64', 1024) | b64encode }}"

arvados_cluster_id: ncucu
arvados_cluster_site_name: "HGI Arvados {{ arvados_cluster_id }}"

arvados_cluster_domain: "hgi.sanger.ac.uk"
arvados_cluster_consul_domain: "node.zeta-hgiarvados.consul"

arvados_cluster_internal_nets: 
  - 10.101.0.0/24

arvados_cluster_mercury_shell_ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFaC8cjWer8B6KtuH8bNi+A8R3/mL8NhlBB7dqvrcG8czXodLUlB+Q+1P5iYJ4JG4eUCxiZGrcDGXjKFVrK/G5bW7ctcwpQXpa9+rvdfELUCnCZSaB/XG8HCH5yrY+NaIK07wv4AxrK3KouyDYAsiHgcQP+iVRFawSE42hT/fjvTMae7jeNwV6I4oxk9tGZmk0w3eD9JVyfwBC1b6IVlaedQqKvWiQ4/bM/0+MBwEcBCN154JGeLMoWEgj7kdXEHNr+GXnQ7ekcJke0UpORVL0cClUZhovRQSkgu5wrdapB3zEL/qCtH4Lo9HPK1v+VU17oeVVscaU5/9madglSmzL mercury@arvados-shell-ncucu"

arvados_cluster_git_ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/om5890+bvDjwi13B11ECyeIjTJuwscjlwGLBBmDgiC7SA/vtbQE9beNR6NWiMpRyQQcUkc3HkXEnxOBwSq/LRX/e+6qncXxXGKPMjjJjm7RxQ4Jf05B0s6GvRwyQYpz1r5HlcTBkWTyDupWZfQj6VNq2Y3NX+bSQAOZxTGtoB2Cxq+PssLgtGSISAb478TDgVOn2KgK0XgROYGvT+0oh3N2AbODArVBEHo26SusW512TR2LbXt2WToj2bVLldaML724c6f3yAbd6Cfy9rYOt7Fg05YEHFBzefgJx2rm8L+o6x6q9jEubVffD+dSC0A3HwWMsRaOk9X3SbYc5yDvn git@{{ arvados_cluster_git_host }}"

arvados_cluster_admin_user_email: "mercury-admin@{{ arvados_cluster_id }}"

arvados_cluster_GROUP_s3_endpoint: "https://{{ s3_credentials['sanger-ceph-mercurykeep']['s3_host'] }}"
arvados_cluster_GROUP_s3_access_key: "{{ s3_credentials['sanger-ceph-mercurykeep']['s3_access_key'] }}"
arvados_cluster_GROUP_s3_secret_key: "{{ s3_credentials['sanger-ceph-mercurykeep']['s3_secret_key'] }}"
arvados_cluster_GROUP_s3_bucket: "arvados-keep-{{ arvados_cluster_id }}"
arvados_cluster_GROUP_s3_replication: 3

arvados_cluster_GROUP_consul_template_host: consul.zeta-hgiarvados.hgi.sanger.ac.uk

# FIXME: Generic stuff below, figure out how to DRY this out

arvados_cluster_sso_user_uuid: "{{ arvados_cluster_id }}-tpzed-mercuryadminsso"

arvados_cluster_shell_server_uuid: "{{ arvados_cluster_id }}-2x53u-shellserver0001"
arvados_cluster_group_name: "arvados-cluster-{{ arvados_cluster_id }}"
arvados_cluster_sso_app_id: arvados-server

arvados_cluster_db_user_sso: arvados_sso
arvados_cluster_db_name_sso: arvados_sso_production

arvados_cluster_db_user_api: arvados
arvados_cluster_db_name_api: arvados_api_production

arvados_cluster_max_body_size_m: 128

# Lists of Arvados server hostvars, names, and hosts (FQDNs)
arvados_cluster_masters: "{{ groups['arvados-masters'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
arvados_cluster_master_names: "{{ arvados_cluster_masters | map(attribute='cloud_resource_name') | list }}"
arvados_cluster_master_hosts: "{{ arvados_cluster_masters | map(attribute='cloud_resource_fqdn') | list }}"
arvados_cluster_master_private_ips: "{{ arvados_cluster_masters | map(attribute='cloud_resource_private_ip') | list }}"

arvados_cluster_api_dbs: "{{ groups['arvados-api-dbs'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
arvados_cluster_api_db_names: "{{ arvados_cluster_api_dbs | map(attribute='cloud_resource_name') | list }}"
arvados_cluster_api_db_hosts: "{{ arvados_cluster_api_dbs | map(attribute='cloud_resource_fqdn') | list }}"
arvados_cluster_api_db_private_ips: "{{ arvados_cluster_api_dbs | map(attribute='cloud_resource_private_ip') | list }}"

arvados_cluster_shells: "{{ groups['arvados-shells'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
arvados_cluster_shell_names: "{{ arvados_cluster_shells | map(attribute='cloud_resource_name') | list }}"
arvados_cluster_shell_hosts: "{{ arvados_cluster_shells | map(attribute='cloud_resource_fqdn') | list }}"

arvados_cluster_keeps: "{{ groups['arvados-keeps'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
arvados_cluster_keep_names: "{{ arvados_cluster_keeps | map(attribute='cloud_resource_name') | list }}"
arvados_cluster_keep_hosts: "{{ arvados_cluster_keeps | map(attribute='cloud_resource_fqdn') | list }}"

arvados_cluster_keepproxies: "{{ groups['arvados-keepproxies'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
arvados_cluster_keepproxy_names: "{{ arvados_cluster_keepproxies | map(attribute='cloud_resource_name') | list }}"
arvados_cluster_keepproxy_hosts: "{{ arvados_cluster_keepproxies | map(attribute='cloud_resource_fqdn') | list }}"

arvados_cluster_ssos: "{{ groups['arvados-ssos'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
arvados_cluster_sso_names: "{{ arvados_cluster_ssos | map(attribute='cloud_resource_name') | list }}"
arvados_cluster_sso_hosts: "{{ arvados_cluster_ssos | map(attribute='cloud_resource_fqdn') | list }}"

arvados_cluster_workbenchs: "{{ groups['arvados-workbenchs'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
arvados_cluster_workbench_names: "{{ arvados_cluster_workbenchs | map(attribute='cloud_resource_name') | list }}"
arvados_cluster_workbench_hosts: "{{ arvados_cluster_workbenchs | map(attribute='cloud_resource_fqdn') | list }}"

# Public FQDNs of Arvados services
arvados_cluster_sso_host: "arvados-sso-{{ arvados_cluster_id }}.{{ arvados_cluster_domain }}"
arvados_cluster_api_host: "arvados-api-{{ arvados_cluster_id }}.{{ arvados_cluster_domain }}"
arvados_cluster_ws_host: "arvados-ws-{{ arvados_cluster_id }}.{{ arvados_cluster_domain }}"
arvados_cluster_git_host: "arvados-git-{{ arvados_cluster_id }}.{{ arvados_cluster_domain }}"
arvados_cluster_workbench_host: "arvados-workbench-{{ arvados_cluster_id }}.{{ arvados_cluster_domain }}"
arvados_cluster_download_host: "arvados-download-{{ arvados_cluster_id }}.{{ arvados_cluster_domain }}"
arvados_cluster_collections_host: "arvados-collections-{{ arvados_cluster_id }}.{{ arvados_cluster_domain }}"

arvados_cluster_GROUP_max_compute_nodes: 200

arvados_cluster_GROUP_slurm_control_machine: "arvados-master-{{ arvados_cluster_id }}"

#arvados_cluster_compute_nodes: "{{ groups['arvados-compute-nodes'] | intersect(groups[arvados_cluster_group_name]) | default([]) | sort | map('extract', hostvars) | list() }}"
#arvados_cluster_compute_node_names: "{{ arvados_cluster_compute_nodes | map(attribute='cloud_resource_name') | list }}"
#arvados_cluster_compute_node_hosts: "{{ arvados_cluster_compute_nodes | map(attribute='cloud_resource_fqdn') | list }}"

# N.B. the following must match the hostname pattern used in terraform for this cluster
arvados_cluster_GROUP_compute_node_prefix: "arvados-compute-node-{{ arvados_cluster_id }}-"
arvados_cluster_GROUP_compute_node_number_format: "%03d"

arvados_cluster_GROUP_compute_node_pattern: "{{ arvados_cluster_GROUP_compute_node_prefix }}[{{ arvados_cluster_GROUP_compute_node_number_format | format(1) }}-{{ arvados_cluster_GROUP_compute_node_number_format | format(arvados_cluster_GROUP_max_compute_nodes) }}]"
arvados_cluster_GROUP_compute_node_names_lookup_args: "start=1 count={{ arvados_cluster_GROUP_max_compute_nodes }} format={{ arvados_cluster_GROUP_compute_node_prefix }}{{ arvados_cluster_GROUP_compute_node_number_format }}"
arvados_cluster_GROUP_compute_node_names: "{{ lookup('sequence', arvados_cluster_GROUP_compute_node_names_lookup_args, wantlist=True) }}"

arvados_cluster_delegate: "{{ arvados_cluster_shells[0]['inventory_hostname'] }}"

arvados_cluster_exists: "{{ arvados_cluster_shells | length > 0 }}"
