{#
# Copyright (c) 2014 Genome Research Ltd.
#
# Author: Joshua C. Randall <jcrandall@alum.mit.edu>
#
# This file is part of hgi-ansible.
#
# hgi-ansible is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 3 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see <http://www.gnu.org/licenses/>.
#
#}
[program:mesos-slave]
command={{ mesos_slave_bin }} --master="{{ mesos_slave_zk_uri }}" --hostname="{{ mesos_slave_hostname }}" --containerizers="{{ mesos_slave_containerizers }}" --cgroups_enable_cfs --cgroups_hierarchy="/sys/fs/cgroup" --cgroups_root="mesos" --isolation="{{ mesos_slave_isolation }}" --recover="reconnect" --checkpoint --work_dir="{{ mesos_slave_work_dir }}" --executor_registration_timeout="{{ mesos_slave_executor_registration_timeout }}"


