#!/usr/bin/env bash

{{ '{{ scratch.Set "template_path" (file "/etc/arvados_consul_template_path" | trimSpace) }}' }}
{{ '{{ with node }}{{ scratch.Set "hostname" .Node.Node }}{{ end }}' }}

{{ 'ping_secret="{{ key (printf "%s/compute-node/%s/ping_secret" (scratch.Get "template_path") (scratch.Get "hostname")) }}"' }}

{{ 'uuid="{{ key (printf "%s/compute-node/%s/uuid" (scratch.Get "template_path") (scratch.Get "hostname")) }}"' }}

{{ 'arvados_cluster_api_host="{{ key (printf "%s/arvados_cluster_api_host" (scratch.Get "template_path")) }}"' }}

# TODO could add additional post data to ping as in https://doc.arvados.org/install/install-compute-ping.html
pong=$(/usr/bin/curl -k -d ping_secret="${ping_secret}" "https://${arvados_cluster_api_host}/arvados/v1/nodes/${uuid}/ping")

errors=$(echo "${pong}" | jq '.errors')

if [[ "${errors}" == "null" ]]; then
    # no errors with ping
else
    echo "Errors: ${errors}"
    echo "${errors}" | grep -q 'Incorrect ping_secret' && (echo "Ping secret incorrect, halting system"; halt)
    exit 1
fi

/usr/local/bin/resume-slurm-node
