upstream arvados-ws {
  server     127.0.0.1:{{ arvados_master_ws_backend_port }}  fail_timeout=10s;
}

server {
  listen       0.0.0.0:443 ssl;
  server_name  {{ arvados_cluster_ws_host }}.{{ arvados_cluster_domain }};

  proxy_connect_timeout 90s;
  proxy_read_timeout    300s;

  ssl                 on;
  ssl_certificate     {{ arvados_master_cert_file }};
  ssl_certificate_key {{ arvados_master_key_file }};

  index  index.html index.htm index.php;

  location / {
    proxy_pass            http://arvados-ws;
    proxy_set_header      Upgrade         $http_upgrade;
    proxy_set_header      Connection      "upgrade";
    proxy_set_header      Host            $host;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
