production:
  gitolite_url: {{ arvados_master_git_repositories_dir }}/gitolite-admin.git
  gitolite_tmp: {{ arvados_master_git_home }}
  arvados_api_host: {{ arvados_cluster_api_host }}.{{ arvados_cluster_domain }}
  arvados_api_token: "{{ arvados_cluster_superuser_api_token }}"
  arvados_api_host_insecure: false
  gitolite_arvados_git_user_key: "{{ arvados_cluster_git_ssh_public_key }}"
