Client:
  APIHost: {{ arvados_cluster_api_host }}
  AuthToken: {{ arvados_cluster_crunch_dispatcher_api_token }}
  KeepServiceURIs: 
    - http://127.0.0.1:25107
{% for host in arvados_cluster_keep_hosts %}
#    - http://{{ host }}:25107
{% endfor %}
PollPeriod: 10s
SbatchArguments:
  - "--partition=compute"
MinRetryPeriod: 60s
CrunchRunCommand:
  - crunch-run
  - "-cgroup-parent-subsystem=memory"
ReserveExtraRAM: 536870912
PrioritySpread: 10
NiceLimit: 10000
BatchSize: 10000
