Client:
  APIHost: "{{ arvados_cluster_api_host }}.{{ arvados_cluster_domain }}:443"
  Insecure: false
GitCommand: "{{ arvados_master_git_home }}/gitolite/src/gitolite-shell"
GitoliteHome: "{{ arvados_master_git_home }}"
Listen: ":{{ arvados_master_git_httpd_backend_port }}"
RepoRoot: "{{ arvados_master_git_repositories_dir }}"
