{{ '{{ scratch.Set "arvados_api_backend_count" (service "arvados-api-backend" | len) }}' }}

global
  log /dev/log  local0
  log /dev/log  local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon
  maxconn 100000

defaults
  log global
  retries 3
  option redispatch
  timeout connect 5000 # ms
  timeout client 10m
  timeout server 10m
  timeout queue 3m
  mode  http
  option  dontlognull

frontend stats-front
  bind *:9091
  mode http
  default_backend stats-back

backend stats-back
  mode http
  balance roundrobin
  stats uri /haproxy/stats

{% for queue in arvados_master_haproxy_queues %}
frontend {{ queue.name }}_arvados_api
        bind 127.0.0.1:{{ queue.port }}
        mode http
        option  httplog
        option forwardfor
        default_backend {{ queue.name }}_arvados_api
	maxconn {{ queue.maxconn }}

{% endfor %}

{% for final_queue_name, final_queue in arvados_master_haproxy_final_queues.items() %}
frontend {{ final_queue_name }}_final_queue
        bind 127.0.0.1:{{ final_queue.port }}
        mode http
        option  httplog
        option forwardfor
        default_backend {{ final_queue_name }}_final_queue
	maxconn {{ final_queue.maxconn }}

{% endfor %}

{% for queue in arvados_master_haproxy_queues %}
backend {{ queue.name }}_arvados_api
        mode http
        balance roundrobin
        option httpchk
        server {{ queue.final_queue }}_final_queue-{{ queue.name }}_arvados_api      127.0.0.1:{{ arvados_master_haproxy_final_queues[queue.final_queue].port }}

{% endfor %}

{% for final_queue_name, final_queue in arvados_master_haproxy_final_queues.items() %}
backend {{ final_queue_name }}_final_queue
        mode http
        balance roundrobin
        option httpchk GET /discovery/v1/apis/arvados/v1/rest
{#
	fullconn {{ '{{ scratch.Get "arvados_api_backend_count" | multiply ' }}{{ final_queue.backend_server_maxconn }}{{ '}}' }}
#}
{% for server in final_queue.servers %}
        server {{ server.server_name }}-{{ final_queue_name }}_final_queue      {% if "server_address" in server and server.server_address %}{{ server.server_address }}{% else %}127.0.0.1{% endif %}:{{ server.server_port }} minconn {{ server.minconn }} maxconn {{ server.maxconn }} check {% if "backup" in server and server.backup %} backup {% endif %}

{% endfor %}
{{ '{{ range service "arvados-api-backend|any" }}' }}        server {{ '{{ .Node }}' }}-{{ final_queue_name }}_final_queue      {{ '{{ .Address }}:{{ .Port }}' }}  minconn {{ final_queue.backend_server_minconn }} maxconn {{ final_queue.backend_server_maxconn }} check
{{ '{{ end }}' }}

{% endfor %}

