{#
# Copyright (c) 2015 Genome Research Ltd.
#
# Author: Joshua C. Randall <jcrandall@alum.mit.edu>
#
# This file is part of hgi-ansible.
#
# hgi-ansible is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 3 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see <http://www.gnu.org/licenses/>.
#}
{
  "Marathon": {
    "Endpoint": "{{ bamboo_marathon_http_endpoints }}"
  },

  "Bamboo": {
    "Endpoint": "http://{{ bamboo_http_host }}:{{ bamboo_control_port }}",
    "Zookeeper": {
      "Host": "{{ bamboo_zk_hosts }}",
      "Path": "{{ bamboo_zk_path }}", 
      "ReportingDelay": 5
    }
  },

  "HAProxy": {
    "TemplatePath": "{{ bamboo_haproxy_template_file }}",
    "OutputPath": "{{ bamboo_haproxy_config_file }}",
    "ReloadCommand": "{{ bamboo_haproxy_bin }} -f {{ bamboo_haproxy_config_file }} -p {{ bamboo_haproxy_pid_file }} -D -sf $(cat {{ bamboo_haproxy_pid_file }})",
    "ReloadValidationCommand": "{{ bamboo_haproxy_bin }} -c -f {{ '{{.}}' }}"
  },

  "StatsD": {
    "Enabled": false,
    "Host": "metrics01.internal.sanger.ac.uk:2003",
    "Prefix": "hgi.bamboo.{{ inventory_hostname  }}."
  }
}