[Unit]
Description=Dockerized Consul Agent
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill consul-agent
ExecStartPre=-/usr/bin/docker rm consul-agent
ExecStartPre=/usr/bin/docker pull consul
ExecStart=/bin/bash -c '/usr/bin/docker run --name consul-agent --net=host -v {{ docker_consul_agent_config_dir }}:/consul/config consul agent'

[Install]
WantedBy=multi-user.target
