listen_addresses = '*'         # what IP address(es) to listen on;
                               # comma-separated list of addresses;
                               # defaults to 'localhost'; use '*' for all

max_connections = 8192         # (change requires restart)
