{
    "irods_authentication_scheme": "native",
    "irods_authentication_file": "{{ irobot_irods_authentication_file_location }}",
    "irods_cwd": "/Sanger1/home/mercury",
    "irods_def_resource": "wtsiusers",
    "irods_home": "/Sanger1/home/mercury",
    "irods_host": "irods-sanger1.internal.sanger.ac.uk",
    "irods_plugins_home": "/var/lib/irods/plugins/",
    "irods_port": 1247,
    "irods_ssl_ca_certificate_file": "/etc/irods/ca.pem",
    "irods_user_name": "mercury",
    "irods_zone_name": "Sanger1"
}
