
server {
  listen 127.0.0.1:8200;
  server_name localhost-sso;

  root /var/www/arvados-sso/current/public;
  index  index.html index.htm index.php;
  
  passenger_enabled on;
  passenger_user www-data;
  passenger_env_var RAILS_ENV production;

  access_log /var/log/nginx/arvados-sso-backend-access.log;
  error_log /var/log/nginx/arvados-sso-backend-error.log;
}

upstream sso {
  # The address below must match what the SSO server above is listening on
  server 127.0.0.1:8200;
}

server {
  listen       0.0.0.0:443 ssl;
  server_name  arvados-sso-{{ arvados_cluster_id }}.hgi.sanger.ac.uk;

  ssl on;
  ssl_certificate     {{ arvados_sso_cert_file }};
  ssl_certificate_key {{ arvados_sso_key_file }};
  ssl_session_timeout  5m;
  ssl_ciphers          ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+EXP;

  index  index.html index.htm index.php;

  access_log /var/log/nginx/arvados-sso-access.log;
  error_log /var/log/nginx/arvados-sso-error.log;

  location / {
    proxy_pass            http://sso;
    proxy_redirect        off;
    proxy_connect_timeout 90s;
    proxy_read_timeout    300s;
    
    proxy_set_header      X-Forwarded-Proto https;
    proxy_set_header      Host $http_host;
    proxy_set_header      X-Real-IP $remote_addr;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
