
u = User.find_by_email("mercury@sanger.ac.uk") || User.new(:email => "mercury@sanger.ac.uk")
u.save!
u.uuid = "{{ arvados_cluster_sso_user_uuid }}"
u.first_name = "Mercury"
u.last_name = "pipeline"
u.save

a = Authentication.find_by_uid("{{ hgi_credentials_mercury_google_uid }}") || Authentication.new()
a.user_id = u.id
a.provider = "google_oauth2"
a.uid = "{{ hgi_credentials_mercury_google_uid }}"
a.save

