production:
  adapter: postgresql
  encoding: utf8
  database: "{{ arvados_cluster_db_name_sso }}"
  username: "{{ arvados_cluster_db_user_sso }}"
  password: "{{ arvados_cluster_db_password_sso }}"
  host: localhost
  template: template0
