# - Query/Index Statistics Collector -
track_activities = on
track_counts = on
track_io_timing = off
track_functions = none                 # none, pl, all
track_activity_query_size = 1024       # (change requires restart)
stats_temp_directory = '/var/run/postgresql/9.5-arvados_api.pg_stat_tmp'

# - Statistics Monitoring -
log_parser_stats = off
log_planner_stats = off
log_executor_stats = off
log_statement_stats = off
