[%
    NOTE: we need to abstract this into referencing variables and the Sanger client is still th10's client
%]
{
    "frontEnd": "https://webhook-master.hgi.sanger.ac.uk",
    "configServer": "https://webhook-master.hgi.sanger.ac.uk/api-config",
    "adminServer": "https://webhook-master.hgi.sanger.ac.uk/api-admin",
    "routingServer": "https://webhook.sanger.ac.uk",
    "googleClientId": "705729985105-hhd4jiqna0jojhclkun9ol54ir8aab2h.apps.googleusercontent.com",
    "sangerClientId": "-4d8mHm_RF2OnaqJgczhqA"
}