AnonymousTokens:
- {{ arvados_keepproxy_api_token }}
AttachmentOnlyHost: {{ arvados_cluster_download_host}}.{{ arvados_cluster_domain }}
Cache:
  MaxCollectionBytes: 100000000
  MaxCollectionEntries: 1000
  MaxPermissionEntries: 1000
  MaxUUIDEntries: 1000
  TTL: 5m0s
Client:
  APIHost: {{ arvados_keepproxy_api_host }}
  AuthToken: ""
  Insecure: false
Listen: :{{ arvados_keepproxy_web_backend_port }}
ManagementToken: ""
TrustAllContent: true
