<html>
  <head>
    <title>Arvados Monitor</title>
  </head>
  <body>
    <ul>
      <li><a href="dash.html">netdata dashboard</a></li>
      <li><a href="netdata.html">list of netdata hosts</a></li>
    </ul>
  </body>
</html>
