[Unit]
Description=Hail Manager

[Service]
ExecStart={{ hail_master_service_start }}
User={{ hail_master_service_user }}
{% for key, value in hail_master_service_environment_variables.items() %}
Environment={{ key }}={{ value }}
{% endfor %}

[Install]
WantedBy=multi-user.target
