# arvados-keep-config.yaml for arvados keep nodes on {{ arvados_cluster_id }}
BlobSignatureTTL: {{ arvados_cluster_keep_blob_signature_ttl_s }}s
BlobSigningKeyFile: {{ arvados_cluster_keep_blob_signing_key_file }}
Debug: false
EnableDelete: true
Listen: :25107
LogFormat: json
ManagementToken: ""
MaxBuffers: {{ arvados_cluster_keep_node_keep_max_buffers }}
MaxRequests: 0
PIDFile: ""
RequireSignatures: false
SystemAuthTokenFile: {{ arvados_cluster_keep_data_manager_api_token_file }}
TrashCheckInterval: {{ arvados_cluster_keep_trash_check_interval }}
TrashLifetime: {{ arvados_cluster_keep_trash_lifetime }}
Volumes:
- AccessKeyFile: {{ arvados_cluster_keep_s3_access_key_file }}
  Bucket: {{ arvados_cluster_keep_s3_bucket }}
  ConnectTimeout: 0s
  Endpoint: {{ arvados_cluster_keep_s3_endpoint }}
  IndexPageSize: 1000
  LocationConstraint: false
  RaceWindow: 24h0m0s
  ReadOnly: false
  ReadTimeout: 0s
  Region: "generic"
  S3Replication: {{ arvados_cluster_keep_s3_replication }}
  SecretKeyFile: {{ arvados_cluster_keep_s3_secret_key_file }}
  Type: S3
  UnsafeDelete: true
