ControlMachine={{ arvados_cluster_slurm_control_machine }}
SlurmctldPort=6817
SlurmdPort=6818
AuthType=auth/munge
StateSaveLocation={{ arvados_cluster_slurm_state_save_location }}
SlurmdSpoolDir={{ arvados_cluster_slurm_spool_dir }}
SwitchType=switch/none
MpiDefault=none
SlurmctldPidFile=/var/run/slurm-llnl/slurmctld.pid
SlurmdPidFile=/var/run/slurm-llnl/slurmd.pid
ProctrackType=proctrack/pgid
CacheGroups=0
ReturnToService=2
TaskPlugin=task/cgroup
#
# TIMERS
SlurmctldTimeout=300
SlurmdTimeout=300
MessageTimeout=60
InactiveLimit=0
MinJobAge=300
KillWait=30
Waittime=0
#
# SCHEDULING
SchedulerType=sched/backfill
SchedulerPort=7321
SelectType=select/cons_res
SelectTypeParameters=CR_CPU_Memory
#SuspendTime=600
#ResumeProgram=/usr/bin/create-node
#SuspendProgram=/usr/bin/destroy-node
FastSchedule=0
#
# LOGGING
SlurmctldDebug=3
#SlurmctldLogFile=
SlurmdDebug=3
#SlurmdLogFile=
JobCompType=jobcomp/none
#JobCompLoc=
JobAcctGatherType=jobacct_gather/none
#
# COMPUTE NODES
NodeName=DEFAULT
PartitionName=DEFAULT MaxTime=INFINITE State=UP

NodeName={{ arvados_cluster_GROUP_compute_node_pattern }} Weight=1 Feature=cloud State=CLOUD CPUs=16 RealMemory=120877 TmpDisk=126998

PartitionName=compute Nodes={{ arvados_cluster_GROUP_compute_node_pattern }} Default=YES Shared=YES

